.subheader {
    border: 1px solid #9ea0a0;
    border-left: none;
    border-right: none;
    color: #02594d;
    font-size: 1.28rem;
    font-weight: 400;
    margin: 2rem auto;
    padding: 1rem 0;
    width: 100%;
}
.header {
    font-size: 1.7rem;
    font-weight: 400;
    color: #00b28c;
    margin: 3rem auto 2rem;
    width: 100%;
}